body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
#allmap{height:100%;width:100%;}
#r-result{width:100%;}
.ui-content {
    padding: 0;
    position: absolute;
    top: 45.38px;
    bottom:45.38px;
    height: 100%;
    width: 100%;
    /*height: -webkit-calc(100% - 44px * 2)*/
}